* {
    margin: 0; /*retira margin pré definida */
    padding: 0;
}
body {
    background: #eaeaee;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.h1 {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7;
}


.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif;
    background: #a52a2a;
    height: 8vh;
}

main {
    background: url("bg.jpg no") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px
}